body {
    background-color: aqua;
    text-align: center;
}

div {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border: 5px solid gray;
}

.player-card {
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: left;
    width: 300px; 
    margin: auto;
    margin-top: 20px;
}